In [1]:
import talib

In [3]:
import sys
print(sys.version)
print(sys.executable)

3.12.7 | packaged by Anaconda, Inc. | (main, Oct  4 2024, 13:17:27) [MSC v.1929 64 bit (AMD64)]
C:\Users\1\anaconda3\python.exe

In [25]:
!pip install "C:\\Users\\1\\Downloads\\ta_lib-0.6.3-cp311-win_amd64.whl"

WARNING: Requirement 'C:\\\\Users\\\\1\\\\Downloads\\\\ta_lib-0.6.3-cp311-win_amd64.whl' looks like a filename, but the file does not exist
ERROR: ta_lib-0.6.3-cp311-win_amd64.whl is not a valid wheel filename.

In [7]:
!pip install ta-lib

Requirement already satisfied: ta-lib in c:\users\1\anaconda3\lib\site-packages (0.6.3)
Requirement already satisfied: setuptools in c:\users\1\anaconda3\lib\site-packages (from ta-lib) (75.1.0)
Requirement already satisfied: numpy in c:\users\1\anaconda3\lib\site-packages (from ta-lib) (1.26.4)

In [9]:
import talib

In [11]:
import yfinance as yf
df=yf.download("2330.TW")

YF.download() has changed argument auto_adjust default to True

[*********************100%***********************]  1 of 1 completed

In [13]:
df

Price            Close        High         Low        Open        Volume
Ticker         2330.TW     2330.TW     2330.TW     2330.TW       2330.TW
Date
2000-01-04   34.216957   34.216957   33.640271   34.216957  200662336736
2000-01-05   34.985806   34.985806   33.832434   34.216952  402466805912
2000-01-06   34.216957   34.985810   34.216957   34.793643  197545715802
2000-01-07   33.255749   33.640267   32.679063   33.063581  235270344752
2000-01-10   34.409130   34.601298   33.640277   34.216963  276171685539
...                ...         ...         ...         ...           ...
2025-04-24  864.000000  886.000000  859.000000  886.000000      32238198
2025-04-25  888.000000  901.000000  886.000000  900.000000      34640282
2025-04-28  897.000000  898.000000  893.000000  898.000000      21830091
2025-04-29  902.000000  902.000000  893.000000  897.000000      24362874
2025-04-30  908.000000  908.000000  899.000000  901.000000      35405654

[6302 rows x 5 columns]

In [15]:
import numpy as np
Close=df["Close"]["2330.TW"].to_numpy()
RSI=talib.RSI(Close, timeperiod=14)

In [17]:
no=len(df)

In [23]:
buy_list=[]
sell_list=[]
for i in range(0,no):
    buy=0
    sell=0
    if RSI[i]>70:
        sell=1
    if RSI[i]<30:
        buy=1
    buy_list.append(buy)
    sell_list.append(sell)

In [31]:
import pandas as pd
RSI_df=pd.DataFrame(RSI, columns=["RSI"], index=df.index)

In [33]:
buy_df=pd.DataFrame(buy_list, columns=["Buy_Signal_RSI"], index=df.index)

In [35]:
sell_df=pd.DataFrame(sell_list, columns=["Sell_Signal_RSI"], index=df.index)

In [39]:
df_merged=pd.concat([df, RSI_df, buy_df, sell_df], axis=1, join="inner")

In [41]:
df_merged

,"(Close, 2330.TW)","(High, 2330.TW)","(Low, 2330.TW)","(Open, 2330.TW)","(Volume, 2330.TW)",RSI,Buy_Signal_RSI,Sell_Signal_RSI
Date,,,,,,,,
2000-01-04,34.216957,34.216957,33.640271,34.216957,200662336736,NaN,0,0
2000-01-05,34.985806,34.985806,33.832434,34.216952,402466805912,NaN,0,0
2000-01-06,34.216957,34.985810,34.216957,34.793643,197545715802,NaN,0,0
2000-01-07,33.255749,33.640267,32.679063,33.063581,235270344752,NaN,0,0
2000-01-10,34.409130,34.601298,33.640277,34.216963,276171685539,NaN,0,0
...,...,...,...,...,...,...,...,...
2025-04-24,864.000000,886.000000,859.000000,886.000000,32238198,44.297463,0,0
2025-04-25,888.000000,901.000000,886.000000,900.000000,34640282,48.371165,0,0
2025-04-28,897.000000,898.000000,893.000000,898.000000,21830091,49.852256,0,0
2025-04-29,902.000000,902.000000,893.000000,897.000000,24362874,50.698435,0,0
2025-04-30,908.000000,908.000000,899.000000,901.000000,35405654,51.750564,0,0

In [43]:
df_merged[(df_merged.index>"2024-01-01" ) & (df_merged.index <="2024-12-31")]

,"(Close, 2330.TW)","(High, 2330.TW)","(Low, 2330.TW)","(Open, 2330.TW)","(Volume, 2330.TW)",RSI,Buy_Signal_RSI,Sell_Signal_RSI
Date,,,,,,,,
2024-01-02,585.360901,585.360901,581.412429,582.399547,26059058,67.331709,0,0
2024-01-03,570.554199,577.464025,568.579963,576.476907,37106763,49.044640,0,0
2024-01-04,572.528381,573.515499,569.567028,572.528381,15309129,50.957193,0,0
2024-01-05,568.579956,572.528428,566.605720,570.554192,18158971,47.145766,0,0
2024-01-08,575.489746,577.463982,571.541274,574.502628,17761275,53.675802,0,0
...,...,...,...,...,...,...,...,...
2024-12-25,1085.000000,1090.000000,1080.000000,1090.000000,15481622,56.818608,0,0
2024-12-26,1085.000000,1090.000000,1085.000000,1085.000000,14374900,56.818608,0,0
2024-12-27,1090.000000,1095.000000,1080.000000,1080.000000,24948385,57.968850,0,0
2024-12-30,1090.000000,1095.000000,1085.000000,1090.000000,23954634,57.968850,0,0
2024-12-31,1075.000000,1085.000000,1075.000000,1080.000000,28397820,53.052020,0,0

In [ ]:
df_mreged[df_merged["Buy_Signal_RSI"]==1\